<html>
    <head>
        <title>{{title}}</title>
    </head>

    <body>
        <h1>Python packages used by {{user}} (scraped from Resume):</h1>
        <h1>{{skills}}!</h1>
        <h1>Topic Distribution of {{user}}:</h1>
        <h1>{{topics}}!</h1>
        <h1>Where the top words for each topic are:</h1>
        <h1>Topic1: model, use, python, training, install, run, image, file, learning, train</h1>
        <h1>Topic2: data, python, log, learn, output, learning, io, machine, testing, science</h1>
        <h1>Topic3: ax, ex, axe, chat, python, learning, implementation, install, import, machine</h1>
    </body>
    
</html>
